In [1]:
import pandas as pd
import numpy as np
import pylab as plt

Read some data

In [28]:
census = pd.read_csv('census_income_learn.csv', header=None)
#census.columns = ['AGE', 'CLSWKR', 'INDUSTRY', 'OCCUPATION', 'AGI', 'EDU', 'PERHOUR', 'EDULSTWK', 
#                  'MARITL', 'MJIND', 'MJOCC', 'RACE', 'HISORGN', 'SEX', 'NUNMEM', 'UNTYPE', 'WKSTAT', 
#                  'CAPGAIN', 'CAPLOSS' , 'DIVIDENT', 'FEDTAX', 'FILESTAT', 'REGPREVI', 'STPREVI', 
#                  'HHDFMX', 'HHDREL', 'WEIGHT', 'WEIGHT', 'MIGMTR3', 'MIGMTR4', 'MIGSAME', 'MIGSUN',
#                  'NOEMP', 'PARENT', 'PEARNVAL', 'PEFNTVTY', 'PEMNTVTY', 'PENATVTY', 'CITIZEN', 'TOTVAL',
#                  'SEOTR', 'TAXINC', 'VETQVA', 'VETYN', 'WKSWORK']

print(census.head(5))

   0                                1   2   3                            4   \
0  73                  Not in universe   0   0         High school graduate
1  58   Self-employed-not incorporated   4  34   Some college but no degree
2  18                  Not in universe   0   0                   10th grade
3   9                  Not in universe   0   0                     Children
4  10                  Not in universe   0   0                     Children

   5                 6               7                             8   \
0   0   Not in universe         Widowed   Not in universe or children
1   0   Not in universe        Divorced                  Construction
2   0       High school   Never married   Not in universe or children
3   0   Not in universe   Never married   Not in universe or children
4   0   Not in universe   Never married   Not in universe or children

                                     9     ...                  32  \
0                       Not in universe    ...       United-States
1   Precision production craft & repair    ...       United-States
2                       Not in universe    ...             Vietnam
3                       Not in universe    ...       United-States
4                       Not in universe    ...       United-States

               33              34                                    35 36  \
0   United-States   United-States     Native- Born in the United States  0
1   United-States   United-States     Native- Born in the United States  0
2         Vietnam         Vietnam   Foreign born- Not a citizen of U S   0
3   United-States   United-States     Native- Born in the United States  0
4   United-States   United-States     Native- Born in the United States  0

                 37  38  39  40         41
0   Not in universe   2   0  95   - 50000.
1   Not in universe   2  52  94   - 50000.
2   Not in universe   2   0  95   - 50000.
3   Not in universe   0   0  94   - 50000.
4   Not in universe   0   0  94   - 50000.

[5 rows x 42 columns]

In [29]:
print(census.iloc[[41]])

    0                 1   2   3          4   5                 6   \
41   7   Not in universe   0   0   Children   0   Not in universe

                7                             8                 9     ...      \
41   Never married   Not in universe or children   Not in universe    ...

                     32            33              34  \
41   Dominican-Republic   Puerto-Rico   United-States

                                    35 36                37  38  39  40  \
41   Native- Born in the United States  0   Not in universe   0   0  94

           41
41   - 50000.

[1 rows x 42 columns]